# 사람인 오픈 API access-key (https://oapi.saramin.co.kr/)
SARAMIN_ACCESS_KEY=

# 공공데이터포털 워크넷 API 인증키 (https://www.data.go.kr/data/3038225/openapi.do)
WORKNET_SERVICE_KEY=

# DART 전자공시 API 인증키 (https://opendart.fss.or.kr/)
DART_API_KEY=
